
body {
	max-width: 640px;
	margin: 0 auto;
	padding: 2.25rem;
	background-color: #12222b;
	color: #ddeef8;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-family: "Source Sans Pro", sans-serif;
}

h1 {
	margin-top: 18px;
	margin-bottom: 2.25rem;
	font-size: 2.75rem;
	font-weight: 100;
	line-height: 3.25rem;
}

.hero {
	font-family: "Source Sans Pro ExtraLight";
	font-size: 250%;
	line-height: 120%;
}

h2 {
	margin-top: 2.5rem;
	margin-bottom: 1.75rem;
	font-size: 1.75rem;
	font-weight: 100;
}

.tagline {
	font-weight: 500;
}

p {
	font-weight: 100;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul {
	line-height: 1.5rem;
	list-style-type: none;
}

a {
	font-weight: normal;
	color: #1A95DB;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	height: 100%;
	width: 100%;
	margin-top: 24px;
}

nav a {
	padding: 0.5rem;
	border-radius: 4px;
}

nav a:nth-child(2){
		margin-left: 0.5rem;
		margin-right: 0.5rem;
}

nav a:hover {
	background-color: #1A95DB;
	color: #12222b;
	text-decoration: none;
}
